html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.display-none {display: none}



.img-mini {
    width: 200px;
    margin: 10px;
}

.description-user {
    padding-bottom: 20px;
    padding-top: 30px;
    font-style: italic;
}

.image-header-block {
    text-align: center;
    padding: 15px;
}

.image-header {
    width: 300px;
}

.avatar-user-100{
    width: 100px;
}

.avatar-user-70{
    width: 70px;
}

.avatar-user-50{
    width: 50px;
}
.avatar-user-30{
    width: 30px;
}

.button-group-profile {
    padding-left: 30px;
}

.main-menu {
    margin-bottom: 30px;
}

i.fas.fa-heart{
    color: deeppink;
    font-size: 30px;
}

i.far.fa-heart{
    color: gray;
    font-size: 30px;
}


.nav-pills {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.nav-pills > li {
    float: none;
    display: inline-block;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #f5f5f5;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;

}

.block-post {
    max-width: 500px;
}




footer .footer {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #202020;
    text-align: center;
    height: 80px;
}

footer .footer .back-to-top-page {
    position: absolute;
    left: 0;
    right: 0;
    top: -32px;
}

footer .footer .back-to-top-page a {
    display: inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: #aeaeae;
    line-height: 34px;
    background-color: #202020;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

footer .footer p.text {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #606060;
    margin: 0;
    padding: 30px 0;
}